
.header {
  /*width: auto;*/
  float: right;
  margin: 0;
  padding-right: 10%%;
}

h1 {
  font-family: ‘quicksand’, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
  margin: 0;
  padding: 7.5% 0 7.5% 0;
}

h3 {
  float: left;
  /*background-color: white;*/
  margin: 0;
  padding-left: 2.5%;
  font-family: ‘Quicksand’, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.perks {
  width: 100%;
  float: right;
  background-color: white;
  margin: 0;
	padding: 0;
  text-align: center;
}

.perks li {
  display: inline;
  float: right;
  margin:0;
  /*padding-left: 5%;*/
  padding-right: 2%;
  font-family: ‘Quicksand’, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  clear: both;
}

h2 {
  float: left;
  padding: 5% 10% 0 0;
  margin: 0;
  font-family: ‘quicksand’, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: white;
}

.types {
  width: 100%;
  float: left;
  margin: 0;
	padding: 0;
}

.typeboxes {
  float: left;
  width: 27%;
  background-color: white;
  opacity: 0.5;
  border: 4px black solid;
  padding: 0;
  margin: 0 2.5% 0 2.5%;
}

.typeboxes li {
  font-family: ‘quicksand’, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 7.5% 2.5% 7.5% 2.5%;
  list-style-type: none;
  text-align: center;
}

.footers {
  clear: both;
  width: 100%;
  background-color: white;
  margin: 0;
  text-align: center;
	padding: 1.5%;
  position: fixed;
  bottom: 0;
  /*float: right;*/
}

.footers li {
  display: inline;
  float: right;
  margin-right: 2%;
  padding: 0;
  font-family: ‘Quicksand’, sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: left;
}

h4 {
  float: left;
  /*background-color: white;*/
  margin: 0;
  padding-left: 3%;
  font-family: ‘Quicksand’, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
    background-image: url("IMG/coffee_beans_trans.jpg");
    background-size: 100%;
    /*background-color: gray;*/
}
