
.header {
  /*width: auto;*/
  float: right;
  margin: auto;
  padding-right: 5%%;
}

h1 {
  font-family: ‘quicksand’, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
}

h3 {
  float: left;
  /*background-color: white;*/
  margin: 0;
  padding-left: 5%;
  font-family: ‘Quicksand’, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.perks {
  width: 100%;
  float: right;
  background-color: white;
  margin: 0;
	padding: 0;
  text-align: center;
}

.perks li {
  display: inline;
  float: right;
  margin:0;
  /*padding-left: 5%;*/
  padding-right: 5%;
}

.menu {
  clear: both;
  padding-left: 5%;
  /*padding-right: 0;*/
}

h2 {
  float: left;
  color: white;
  padding-top: 2em;
  margin-right: 21%;
  margin-bottom: 0;
}

.types {
  width: 75%;
  float: left;
  margin: 0;
	padding: 0;
  text-align: center;
}

.typeboxes {
  float: left;
  width: 20%;
  background-color: white;
  opacity: 0.5;
  border: 4px black solid;
  margin-right: 5%;
  margin-top: 0;
  /*display: inline;*/
}

.typeboxes li {
  margin: 10%;
  padding-top: 10%;
}

.footers {
  clear: both;
  width: 100%;
  background-color: white;
  margin: 0;
  margin-right:auto;
	padding: 1.5%;
  position: fixed;
  bottom: 0;
  float: right;
}

.footers li {
  display: inline;
  float: right;
  margin:auto;
  padding-right: 5%;
}

h4 {
  float: left;
  /*background-color: white;*/
  margin: 0;
  padding: 0;
}

body {
    background-image: url("IMG/coffee_beans_trans.jpg");
    background-size: 100%;
    /*background-color: gray;*/
}
